<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
    <div th:fragment = "footer" th:remove = "tag">
        <!-- Start Footer -->
        <footer class="mastfoot mt-auto text-center">
            <div class="inner">
                <p>© 2020
                    <a target="_blank" href="https://www.vladutit.ro">Vladut IT</a>.
                    <a href="#" class="ml-4" title="TO TOP"><img src="../assets/brand/up.svg" width="20"></a>
                </p>
            </div>
        </footer>
        <!-- End Footer -->

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <script language="javascript" type="text/javascript">
            <!-- Delete Item-->
            function confirm_delete_item(id) {
                if (window.confirm('Are you sure you want to delete?')) {
                    $.ajax({
                        type : "DELETE",
                        url : "/delete/"+ id,
                        success : function() {
                            window.location.reload();
                        },
                        error : function() {
                            alert("Something didn't work well. If the error persist, please contact us!");
                        }
                    });
                }
            }

            <!-- Delete Item from View page-->
            function confirm_delete_item_from_view(id) {
                if (window.confirm('Are you sure you want to delete?')) {
                    $.ajax({
                        type : "DELETE",
                        url : "/delete/"+ id,
                        success : function() {
                            window.location=document.referrer;
                        },
                        error : function() {
                            alert("Something didn't work well. If the error persist, please contact us!");
                        }
                    });
                }
            }

            <!-- Delete Category-->
            function confirm_delete_category(id) {
                var actual = document.URL;
                if (window.confirm('Are you sure you want to delete?' +
                    '\nWhen you delete this category, all the items who belong of this category, will be delete!')) {
                    $.ajax({
                        type : "DELETE",
                        url : "/category/delete/"+ id,
                        success : function() {
                            window.location.replace(actual);
                        },
                        error : function() {
                            alert("Something didn't work well. If the error persist, please contact us!");
                        }
                    });
                }
            }
        </script>
    </div>
</body>
</html>