<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<div th:fragment="footer" th:remove="tag">
    <!-- Start Footer -->
    <footer class="mastfoot mt-auto text-center">
        <div class="inner">
            <p>© 2020
                <a href="https://www.vladutit.ro" target="_blank">Vladut IT</a>.
                <a class="ml-4" href="#" title="TO TOP"><img src="../assets/brand/up.svg" width="20"></a>
            </p>
        </div>
    </footer>
    <!-- End Footer -->
</div>
</body>
</html>