<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
    <div th:replace="fragments/header :: header"></div>
    <div sec:authorize="isAnonymous()" th:replace="fragments/menu :: indexMenu"></div>
    <div sec:authorize="isAuthenticated()" th:replace="fragments/menu :: mainMenu"></div>
</head>
<body class="bg-light">

    <div layout:fragment="content"></div>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/3a0e114d1a.js"></script>
</body>
</html>