<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div th:fragment="addCategory">
    <!-- Start Add Categpory -->
    <div id="add_category" class="modal">
        <form th:action="@{/category/new}" th:object="${category}" method="POST" id="newCategory"
            onSubmit="return validateAddCategory()">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_category_title">Add new category</h5>
                        <button th:onclick="document.getElementById('add_category').style.display='none'" type="button"
                            class="close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span>Choose an icon and a color for the icon!</span>
                        <hr class="mt-2">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Icons:</label>
                                <select class="form-control selectpicker" th:field="*{icon}" id="iconCategory">
                                    <option th:each="icon : ${T(ro.vladutit.Don.t.forget.v2.model.Icon).values()}"
                                            th:value="${icon}"
                                            th:text="${icon}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Colors:</label>
                                <select class="form-control selectpicker" th:field="*{color}" id="colorCategory">
                                    <option th:style="${color.colorCode}"
                                            th:each="color : ${T(ro.vladutit.Don.t.forget.v2.model.Color).values()}"
                                            th:value="${color}"
                                            th:text="${color}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mr-3">Preview: </label>
                            <span id="colorAdd" style="color: orange;">
                                <i id="iconAdd" class="fas fa-clock" style="font-size: 30px;"></i>
                            </span>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="categoryName" class="col-form-label">Name: *</label>
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Category Name"
                                id="categoryName"/>
                            <div class="alert alert-danger my-3" role="alert" style="display : none"
                                id="errorAddCategoryName"></div>
                        </div>
                        <div class="form-group">
                            <label for="categoryDescription" class="col-form-label"> Description: *</label>
                            <input type="text" th:field="*{description}" placeholder="Category Description"
                                class="form-control" id="categoryDescription"/>
                            <div class="alert alert-danger my-3" role="alert" style="display : none"
                                id="errorAddCategoryDescription"></div>
                        </div>
                        <hr class="mt-4">
                        <span class="help-block text-danger">Fields marked with * are required.</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submitAddCategory" class="btn btn-outline-warning btn-lg btn-block">
                            Save</button>
                        <button th:onclick="document.getElementById('add_category').style.display='none'" type="button"
                            class="btn btn-danger btn-lg btn-block">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End Add Category -->
</div>
<div th:fragment="updateCategory">
    <!-- Start Update Categpory -->
    <div id="update_category" class="modal">
        <form th:action="@{/category/update}" th:object="${category}" method="POST" id="updateCategory"
            onSubmit="return validateUpdateCategory()">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="update_category_title">Edit a category</h5>
                        <button th:onclick="document.getElementById('update_category').style.display='none'"
                            type="button" class="close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="categoryId">
                        <span>Choose an icon and a color for the icon!</span>
                        <hr class="mt-2">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Icons:</label>
                                <select class="form-control selectpicker" th:field="*{icon}" id="iconCategory">
                                    <option th:each="icon : ${T(ro.vladutit.Don.t.forget.v2.model.Icon).values()}"
                                            th:value="${icon}"
                                            th:text="${icon}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Colors:</label>
                                <select class="form-control selectpicker" th:field="*{color}" id="colorCategory">
                                    <option th:style="${color.colorCode}"
                                            th:each="color : ${T(ro.vladutit.Don.t.forget.v2.model.Color).values()}"
                                            th:value="${color}"
                                            th:text="${color}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="editPreview" >
                            <label class="mr-3">Preview: </label>
                            <span id="colorAdd" style="color: black;">
                                <i class="fas fa-spinner fa-pulse" style="font-size: 30px;"></i>
                            </span>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="categoryName" class="col-form-label">Name: *</label>
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Category Name"
                                id="categoryName"/>
                            <div class="alert alert-danger my-3" role="alert" style="display : none"
                                id="errorEditCategoryName"></div>
                        </div>
                        <div class="form-group">
                            <label for="categoryDescription" class="col-form-label"> Description: *</label>
                            <input type="text" th:field="*{description}" placeholder="Category Description"
                                class="form-control" id="categoryDescription"/>
                            <div class="alert alert-danger my-3" role="alert" style="display : none"
                                id="errorEditCategoryDescription"></div>
                        </div>
                        <hr class="mt-4">
                        <span class="help-block text-danger">Fields marked with * are required.</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submitEditCategory" class="btn btn-outline-warning btn-lg btn-block">
                            Save</button>
                        <button th:onclick="document.getElementById('update_category').style.display='none'"
                            type="button" class="btn btn-danger btn-lg btn-block">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End Update Category -->
</div>
<div th:fragment="addItem">
    <!-- Start Add Item -->
    <div id="add_item" class="modal">
        <form th:action="@{/item/save}" th:object="${item}" method="POST" id="newItem"
            onSubmit="return validateAddItem()">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_item_title">Add new item</h5>
                        <button th:onclick="document.getElementById('add_item').style.display='none'" type="button"
                            class="close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>First of all, please select/add a category: *</label>
                            <select class="form-control selectpicker" th:field="*{category.id}" id="itemCategory">
                                <option value="">Nothing selected</option>
                                <option th:each="category : ${listCategories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">
                                </option>
                            </select>
                            <div class="alert alert-danger my-3" role="alert" id="errorAddSelectCategory"
                                style="display : none"></div>
                        </div>
                        <label>Didn't find the category you were looking for?</label>
                        <a type="button" th:onclick="switchAddItemToAddCategory()"
                            class="btn btn-outline-secondary mb-3" >Add new category</a>
                        <div class="form-group">
                            <label for="itemName">Name: *</label>
                            <input type="text" th:field="*{name}" placeholder="Item Name" class="form-control"
                                id="itemName">
                            <div class="alert alert-danger my-3" role="alert" id="errorAddItemName"
                                style="display : none"></div>
                        </div>
                        <div class="form-group">
                            <label for="itemDescription">Description:</label>
                            <textarea th:field="*{description}" placeholder="Item Description"
                                class="form-control" id="itemDescription"/>
                            <div class="alert alert-danger my-3" role="alert" id="errorAddItemDescription"
                                 style="display : none"></div>
                        </div>
                        <div class="form-group">
                            <label for="itemExpirationDate">Expiration Date: *</label>
                            <input type="date" th:field="*{expirationDate}" placeholder="YYYY-MM-DD"
                                class="form-control" id="itemExpirationDate">
                            <div class="alert alert-danger my-3" role="alert" id="errorAddItemDate"
                                style="display : none"></div>
                        </div>
                        <hr class="mt-4">
                        <span class="help-block text-danger">Fields marked with * are required.</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submitAddItem" class="btn btn-outline-warning btn-lg btn-block">
                            Save</button>
                        <button th:onclick="document.getElementById('add_item').style.display='none'" type="button"
                            class="btn btn-danger btn-lg btn-block">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End Add Item -->
</div>
<div th:fragment="updateItem">
    <!-- Start Update Item -->
    <div id="update_item" class="modal">
        <form th:action="@{/item/save}" th:object="${item}" method="POST" id="updateItem"
              onSubmit="return validateUpdateItem()">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="update_item_title">Edit an item</h5>
                        <button th:onclick="document.getElementById('update_item').style.display='none'" type="button"
                            class="close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="itemId">
                        <div class="form-group">
                            <label>First of all, please select/add a category: *</label>
                            <select class="form-control selectpicker" th:field="*{category.id}" id="itemCategory">
                                <option th:each="category : ${listCategories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">
                                </option>
                            </select>
                        </div>
                        <label>Didn't find the category you were looking for?</label>
                        <a type="button" th:onclick="switchEditItemToAddCategory()"
                            class="btn btn-outline-secondary mb-3" >Add new category</a>
                        <div class="form-group">
                            <label for="itemName">Name: *</label>
                            <input type="text" th:field="*{name}" placeholder="Item Name" class="form-control"
                                id="itemName">
                            <div class="alert alert-danger my-3" role="alert" id="errorEditItemName"
                                style="display : none"></div>
                        </div>
                        <div class="form-group">
                            <label for="itemDescription">Description:</label>
                            <textarea th:field="*{description}" placeholder="Item Description"
                                class="form-control" id="itemDescription"/>
                            <div class="alert alert-danger my-3" role="alert" id="errorEditItemDescription"
                                 style="display : none"></div>
                        </div>
                        <div class="form-group">
                            <label for="itemExpirationDate">Expiration Date: *</label>
                            <input type="date" th:field="*{expirationDate}" placeholder="YYYY-MM-DD"
                                class="form-control" id="itemExpirationDate">
                            <div class="alert alert-danger my-3" role="alert" id="errorEditItemDate"
                                style="display : none"></div>
                        </div>
                        <hr class="mt-4">
                        <span class="help-block text-danger">Fields marked with * are required.</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submitEditItem" class="btn btn-outline-warning btn-lg btn-block">
                            Save</button>
                        <button th:onclick="document.getElementById('update_item').style.display='none'" type="button"
                            class="btn btn-danger btn-lg btn-block">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End Edit Item -->
</div>
<div th:fragment="viewItem">
    <!-- Start View Item -->
    <div id="view_item" class="modal">
        <form id="viewItem">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="view_item_title">View an item</h5>
                        <button th:onclick="document.getElementById('view_item').style.display='none'" type="button"
                            class="close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="itemId"/>
                        <div class="form-group">
                            <label>Category:</label>
                            <input readonly type="text" class="form-control" id="itemCategory"/>
                        </div>
                        <div class="form-group">
                            <label for="itemName">Name:</label>
                            <input readonly type="text" class="form-control" id="itemName"/>
                        </div>
                        <div class="form-group">
                            <label for="itemDescription">Description:</label>
                            <textarea readonly class="form-control" id="itemDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="itemExpirationDate">Expiration Date:</label>
                            <input readonly type="date" class="form-control" id="itemExpirationDate"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button th:onclick="document.getElementById('view_item').style.display='none'" type="button"
                            class="btn btn-danger btn-lg btn-block">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End View Item -->
</div>
</body>
</html>