<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Don't forget · Vladut IT</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/offcanvas.css" rel="stylesheet">
  </head>
<body class="bg-light">
  <!-- Start Principal menu -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-4" href="/">
      <img src="../assets/brand/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""
           loading="lazy">Don't forget </a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard"> Dashboard </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Add</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" th:href="@{/addNewItemForm}">Item</a>
            <a class="dropdown-item" th:href="@{/addNewCategoryForm}">Category</a>
            <a class="dropdown-item" th:href="@{/addNewShoppingForm}">Shopping list</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- End Principal menu -->

  <!-- Start Secondary menu -->
  <div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
      <a class="nav-link" href="/dashboard">Dashboard</a>
      <a class="nav-link active" href="/all">All</a>
      <a class="nav-link" href="#">Expired</a>
      <a class="nav-link" href="#">Fridge</a>
      <a class="nav-link" href="#">Freeze</a>
      <a class="nav-link" href="#">Pantry</a>
      <a class="nav-link" href="#">Car</a>
      <a class="nav-link" href="#">Health</a>
      <a class="nav-link" href="#">Education</a>
      <a class="nav-link" href="#">Job</a>
    </nav>
  </div>
  <!-- End Secondary menu -->

  <!-- Fata trista, cu text cate itemuri au expirat si au fost aruncate, cere o gluma prin API -->
  <main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-danger rounded shadow-sm">
      <img class="mr-3" src="../assets/brand/sad-white.svg" alt="" width="48" height="48">
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">You waste 5 items this month.</h6>
        <small>You are sad because you waste to much?</small><br>
        <a  class="mb-0 text-white lh-50 small" href="#">Read a joke</a>
      </div>
    </div>

    <!-- Start All items box-->
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="border-bottom border-gray pb-2 mb-0">
        <div class="row justify-content-between">
          <div class="col-8 align-middle">
            <h5>All items</h5>
          </div>
          <div class="col-4 text-right">
            <a th:href = "@{/addNewItemForm}" class="btn btn-outline-light btn-sm" title="Add new item">
              <img src="../assets/brand/add-grey.svg" width="20" class="align-top"></a>
          </div>
        </div>
      </div>

      <!-- Start example box-->
      <div class="media text-muted pt-3">
        <div >
          <img class="mr-3" src="../assets/brand/smile.svg" alt="Smile" width="35" height="35">
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark">Produs de post</strong>
          <a>2020-10-06</a>
        <div>
          <a href = "#" class="btn btn-outline-light btn-sm mb-3" title="View item">
            <img src="../assets/brand/view-grey.svg" width="20"></a>
          <a href = "#" class="btn btn-outline-light btn-sm mb-3" title="Edit item">
            <img src="../assets/brand/edit-grey.svg" width="20"></a>
        </div>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <div >
          <img class="mr-3" src="../assets/brand/meh.svg" alt="Smile" width="35" height="35">
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark">Turta dulce cu nuca</strong>
          <a>2020-07-20</a>
        <div>
          <a href = "#" class="btn btn-outline-light btn-sm mb-3" title="View item">
            <img src="../assets/brand/view-grey.svg" width="20"></a>
          <a href = "#" class="btn btn-outline-light btn-sm mb-3" title="Edit item">
            <img src="../assets/brand/edit-grey.svg" width="20"></a>
        </div>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <div >
          <img class="mr-3" src="../assets/brand/sad.svg" alt="Smile" width="35" height="35">
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark">Paine de cartofi</strong>
          <a>2020-02-06</a>
        <div>
          <a href = "#" class="btn btn-outline-light btn-sm mb-3" title="View item">
            <img src="../assets/brand/view-grey.svg" width="20"></a>
          <a href = "#" class="btn btn-outline-light btn-sm mb-3" title="Edit item">
            <img src="../assets/brand/edit-grey.svg" width="20"></a>
        </div>
        </p>
      </div>
      <!-- End example box-->

      <div class="media text-muted pt-3" th:each = "product : ${listProducts}">
        <div >
          <img class="mr-3" src="../assets/brand/smile.svg" alt="Smile" width="35" height="35">
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark" th:text = "${product.name}"></strong>
          <a th:text = "${product.expirationDate}"></a>
          <div>
            <a href = "#" class="btn btn-outline-light btn-sm mb-3" title="View item">
              <img src="../assets/brand/view-grey.svg" width="20"></a>
            <a href = "#" class="btn btn-outline-light btn-sm mb-3" title="Edit item">
              <img src="../assets/brand/edit-grey.svg" width="20"></a>
          </div>
        </p>
      </div>
    </div>
    <!-- End All items box-->
  </main>

  <!-- Start Footer -->
  <footer class="mastfoot mt-auto text-center">
    <div class="inner">
      <p>© 2020
        <a target="_blank" href="https://www.vladutit.ro">Vladut IT</a>.
        <a href="#" class="ml-4" title="TO TOP"><img src="../assets/brand/up.svg" width="20"></a>
      </p>
    </div>
  </footer>
  <!-- End Footer -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="../assets/dist/js/bootstrap.bundle.js"></script>
  <script src="/js/offcanvas.js"></script>
</body>
</html>