<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header"></div>
</head>
<body class="bg-light">
  <div th:replace="fragments/menu :: mainMenu"></div>
  <div th:replace="fragments/menu :: dashboardMenu"></div>

  <main role="main" class="container">
    <div th:replace="fragments/joke :: jokeCard"></div>

    <!-- Start All items box-->
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="border-bottom border-gray pb-2 mb-0">
        <div class="row justify-content-between">
          <div class="col-8 align-middle">
            <h5>All items</h5>
          </div>
          <div class="col-4 text-right">
            <a th:href = "@{/add}" class="btn btn-sm" title="Add new item">
              <img src="../assets/brand/add-grey.svg" width="20" class="align-top"></a>
          </div>
        </div>
      </div>

      <!-- Start example box-->
      <div class="media text-muted pt-3">
        <div >
          <img class="mr-3" src="../assets/brand/smile.svg" alt="Smile" width="35" height="35">
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark">Produs de post</strong>
          <a>2020-10-06</a>
          <div>
            <a href = "#" class="btn btn-sm mb-3" title="View item">
              <img src="../assets/brand/view-grey.svg" width="20"></a>
            <a href = "#" class="btn btn-sm mb-3" title="Edit item">
              <img src="../assets/brand/edit-grey.svg" width="20"></a>
            <a href = "#" class="btn btn-sm mb-3" title="Delete item">
              <img src="../assets/brand/delete-grey.svg" width="20"></a>
          </div>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <div >
          <img class="mr-3" src="../assets/brand/meh.svg" alt="Smile" width="35" height="35">
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark">Turta dulce cu nuca</strong>
          <a>2020-07-20</a>
          <div>
            <a href = "#" class="btn btn-sm mb-3" title="View item">
              <img src="../assets/brand/view-grey.svg" width="20"></a>
            <a href = "#" class="btn btn-sm mb-3" title="Edit item">
              <img src="../assets/brand/edit-grey.svg" width="20"></a>
            <a href = "#" class="btn btn-sm mb-3" title="Delete item">
              <img src="../assets/brand/delete-grey.svg" width="20"></a>
          </div>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <div >
          <img class="mr-3" src="../assets/brand/sad.svg" alt="Smile" width="35" height="35">
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark">Paine de cartofi</strong>
          <a>2020-02-06</a>
          <div>
            <a href = "#" class="btn btn-sm mb-3" title="View item">
              <img src="../assets/brand/view-grey.svg" width="20"></a>
            <a href = "#" class="btn btn-sm mb-3" title="Edit item">
              <img src="../assets/brand/edit-grey.svg" width="20"></a>
            <a href = "#" class="btn btn-sm mb-3" title="Delete item">
              <img src="../assets/brand/delete-grey.svg" width="20"></a>
          </div>
        </p>
      </div>
      <!-- End example box-->

      <div class="media text-muted pt-3" th:each = "item : ${listItems}">
        <div>
          <img class="mr-3" src="../assets/brand/smile.svg" alt="Smile" width="35" height="35">
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark" th:text = "${item.name}"></strong>
          <a th:text = "${item.expirationDate}"></a>
          <div>
            <a th:href = "@{/view/{id}(id=${item.id})}" class="btn btn-sm mb-3" title="View item">
              <img src="../assets/brand/view-grey.svg" width="20"></a>
            <a th:href = "@{/edit/{id}(id=${item.id})}" class="btn btn-sm mb-3" title="Edit item">
              <img src="../assets/brand/edit-grey.svg" width="20"></a>
            <a onclick="return ConfirmDelete()" th:href = "@{/delete/{id}(id=${item.id})}"
               class="btn btn-sm mb-3" title="Delete item">
              <img src="../assets/brand/delete-grey.svg" width="20"></a>
          </div>
        </p>
      </div>
    </div>
    <!-- End All items box-->
  </main>

  <div th:replace="fragments/footer :: footer"></div>

</body>
</html>