<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header"></div>
</head>
<body class="bg-light">
  <div th:replace="fragments/menu :: mainMenu"></div>
  <div th:replace="fragments/menu :: dashboardMenu"></div>

  <main role="main" class="container">
    <div th:replace="fragments/joke :: jokeCard"></div>

    <!-- Start All items box-->
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="border-bottom border-gray pb-2 mb-0">
        <div class="row justify-content-between">
          <div class="col-8 align-middle">
            <h5>All items</h5>
          </div>
          <div class="col-4 text-right">
            <a class="btn btn-sm" th:onclick="document.getElementById('add_item').style.display='block'"
              title="Add new item">
              <img class="align-top" src="../assets/brand/add-grey.svg" width="20"></a>
          </div>
        </div>
      </div>
      <div class="media text-muted pt-3" th:each = "item : ${listItems}">
        <div>
          <img class="mr-3" src="../assets/brand/smile.svg" alt="Smile" width="35" height="35">
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark" th:text = "${item.name}"></strong>
          <a th:text = "${item.expirationDate}"></a>
          <div>
            <a class="btn btn-sm mb-3" th:id="${item.id}" th:onclick="view_item(id)" title="View item">
              <img src="../assets/brand/view-grey.svg" width="20"></a>
            <a class="btn btn-sm mb-3" th:id="${item.id}" th:onclick="edit_item(id)" title="Edit item">
              <img src="../assets/brand/edit-grey.svg" width="20"></a>
            <a th:id="${item.id}" th:onclick="confirm_delete_item(id)" class="btn btn-sm mb-3" title="Delete item">
              <img src="../assets/brand/delete-grey.svg" width="20"></a>
          </div>
        </p>
      </div>
    </div>
    <!-- End All items box-->
  </main>
  <div th:replace="fragments/modal :: addCategory"></div>
  <div th:replace="fragments/modal :: addItem"></div>
  <div th:replace="fragments/modal :: updateItem"></div>
  <div th:replace="fragments/modal :: viewItem"></div>
  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>