<!doctype html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/base_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body class="bg-light">
  <main role="main" layout:fragment="content" class="container">
    <div th:replace="fragments/joke :: jokeCard"></div>

    <!-- Start All items box-->
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="border-bottom border-gray pb-2 mb-0">
        <div class="row justify-content-between">
          <div class="row col-10 align-middle">
            <div class="mx-3">
              <div th:style="${title.color.colorCode}">
                <i th:class="${title.icon.iconName}" style="font-size: 25px;"></i>
              </div>
            </div>
            <div>
              <h5 th:text="${title.name}"></h5>
            </div>
          </div>
          <div class="col-2 text-right">
            <a class="btn btn-sm" th:id="${title.id}" th:onclick="add_item(id)" title="Add new item">
              <img class="align-top" src="../assets/brand/add-grey.svg" width="20"></a>
          </div>
        </div>
      </div>

      <div class="media text-muted pt-3" th:each = "item : ${listItems}">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-gray-dark" th:text = "${item.name}"></strong>
          <a th:text = "${item.expirationDate}"></a>
          <div>
            <a class="btn btn-sm mb-3" th:id="${item.id}" th:onclick="view_item(id)" title="View item">
              <img src="../assets/brand/view-grey.svg" width="20"></a>
            <a class="btn btn-sm mb-3" th:id="${item.id}" th:onclick="edit_item(id)" title="Edit item">
              <img src="../assets/brand/edit-grey.svg" width="20"></a>
            <a th:id="${item.id}" th:onclick="confirm_delete_item(id)" class="btn btn-sm mb-3" title="Delete item">
              <img src="../assets/brand/delete-grey.svg" width="20"></a>
          </div>
        </p>
      </div>
    </div>
    <!-- End All items box-->
  </main>
</body>
</html>