<!doctype html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/index_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body class="bg-light">
    <main role="main" layout:fragment="content" class="container">

    <!-- Start Change Password box-->
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="border-bottom border-gray pb-2 mb-0">
            <div class="row justify-content-between">
                <div class="col-8 align-middle">
                    <h5><i class="fas fa-key mx-2"></i>Change Password</h5>
                </div>
            </div>
        </div>
        <form action="#" th:action="@{/change_password/save}" th:object="${password}" method="post">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
            </div>
            <div class="media text-muted pt-3">
                <div class="mr-2 container-fluid">
                    <div class="row mb-2">
                        <label for="userOldPassword" class="col-form-label col-sm-2">Old Password:</label>
                        <input type="password" class="form-control col" th:field="*{oldPassword}" id="userOldPassword"
                               th:errorclass="is-invalid"/>
                    </div>
                    <div class="row mb-2">
                        <label for="userNewPassword" class="col-form-label col-sm-2">New Password:</label>
                        <input type="password" class="form-control col" th:field="*{newPassword}" id="userNewPassword"
                               autocomplete="new-password" th:errorclass="is-invalid"/>
                    </div>
                    <div class="row">
                        <label for="userRetypePassword" class="col-form-label col-sm-2">Retype Password:</label>
                        <input type="password" class="form-control col" th:field="*{matchingPassword}"
                               autocomplete="new-password" th:errorclass="is-invalid" id="userRetypePassword"/>
                    </div>
                </div>
            </div>
            <div class="media pt-3">
                <div class="mr-2 container-fluid text-right">
                    <button type="submit" class="btn btn-sm btn-warning mr-2">Save</button>
                    <a href="/profile" class="btn btn-sm btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    <!-- End Change Password box-->
  </main>
</body>
</html>