<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all the products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Products List</h1>
    <a th:href = "@{/products}" class="btn btn-primary btn-sm mb-3"> Back to the products list</a>
    <hr>
    <h2>Add a new product</h2>
    <form action="#" th:action="@{/addNewProduct}" th:object="${product}" method="POST">
        <div>
            <label>Product Barcode*</label>
            <input type="text" th:field="*{codeBarId}" placeholder="Product Barcode" class="form-control mb-4 col-4" required>
            <label>Product Name*</label>
            <input type="text" th:field="*{name}" placeholder="Product Name" class="form-control mb-4 col-4" required>
            <label>Product Description</label>
            <input type="text" th:field="*{description}" placeholder="Product Description" class="form-control mb-4 col-4">
            <label> Expiration Date*</label>
            <input type="date" th:field="*{expirationDate}" placeholder="Product Expiration Date" class="form-control mb-4 col-4" required>
            <span id="helpBlock" class="help-block">* This fields are required.</span>
        </div>
        <button type="submit" class="btn btn-info col-2">Add</button>
    </form>
</div>
</body>
</html>