<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Don't forget · Vladut IT</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link type="text/css" href="/css/index.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Don't forget</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="index.html">Home</a>
                <a class="nav-link" href="/products">Products list</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Don't forget anything, anymore.</h1>
        <p class="lead"><i>Don't forget</i> is a reminder app. Whit this app, you will not waste time, money, food and you will know in every moment what services and food do you have available.</p>
        <p class="lead">
            <a href="addNewProductForm" class="btn btn-lg btn-secondary">Start now to save food, money and time</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>© 2020 <a target="_blank" href="https://www.vladutit.ro">Vladut IT</a>.</p>
        </div>
    </footer>
</div>
</body>
</html>
